<%- include("layouts/header") -%>
  <main class="container">
    <br><br>
    <div class="starter-template text-center py-5 px-3">
      <h1>
        <%= title %> 
      </h1>
      <p class="lead"><%- content %> </p>
    </div>

  </main><!-- /.container -->
  <%- include("layouts/footer") -%>