<%- include("layouts/header") -%>

    <div class="col-xs-12 col-md-6">
        <p class="text-center"><strong>Register</strong></p>
        <form action="/users/register" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Enter your Name"> 
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter your Email"> 
            </div>
            <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" class="form-control" name="username" placeholder="Enter your UserName"> 
            </div>
            <div class="form-group">
                <label for="password">Passowrd</label>
                <input type="password" class="form-control" name="password" placeholder="Enter your Passowrd"> 
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" placeholder="Enter your Confirm Password"> 
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>

  </main><!-- /.container -->
  <%- include("layouts/footer") -%>