<% if(flash){ %>
  <div style="text-align: center" class="alert alert-<%=flash.type%>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=flash.message%>
  </div>
  <%}%>
    <% if(form){ %>
      <% form.validations.forEach(function(validation){%>
        <div style="text-align: center" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%=validation.msg%>
        </div>
        <%})%>
          <%}%>