<%- include('../../layouts/admin/header') %>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <br><br><br>
    <div class="container">
        <h1 class="page-title">Add Category</h1>
        <br>
        <a href="/admin/categories/" class="btn btn-primary">Back to All Categories</a>
        <br><br> <br>
        <%- include('../../layouts/alerts/error') %>
      <div>
        <form action="/admin/categories/store-category" method="POST">
            <div class="form-group">
                <label for="title">
                    Title
                </label>
                <input type="text" class="form-control" name="title" placeholder="title" value="">
            </div>
            <div class="form-group">
                <label for="title">
                    Slug
                </label>
                <input type="text" class="form-control" name="slug" placeholder="slug" value="">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br> <br> <br>
      </div>
    </div>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor 4
        // instance, using default configuration.
        CKEDITOR.replace( 'editor1' );
    </script>
    <%- include('../../layouts/admin/footer') %>